language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

before_install:
  - python -m pip install --upgrade pip  # Upgrade to latest version of pip

install:
  - pip install -r requirements-dev.txt  # Install all necessary development requirements

script:
  - python -m pytest

after_success:
  - pip install coverage
  - python -m coverage run -m pytest
  - python -m coverage xml
  - python -m coverage report
  - codecov
