language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

before_install:
  - python -m pip install --upgrade pip  # Upgrade to latest version of pip

install:
  - pip install numpy
  - pip install matplotlib
  - pip install SciencePlots
  - sudo apt-get install dvipng texlive-latex-extra texlive-fonts-recommended cm-super  # install LaTeX requirements for Travis CI
  - pip install pandas
  - pip install plotly
  - pip install pytest
  - pip install coverage
  - pip install codecov

script:
  - python -m pytest

after_success:
  - pip install coverage
  - python -m coverage run -m pytest
  - python -m coverage xml
  - python -m coverage report
  - codecov
