matplotlib~=3.6.2
numpy~=1.23.5
dill~=0.3.6
plotly~=5.11.0
pytest~=7.2.0
coverage~=6.4.4
codecov~=2.1.12
pdoc3~=0.10.0
SciencePlots~=2.0.0
lock-requirements~=0.1.1
isort~=5.10.1
pycodestyle~=2.9.1
pep8-naming~=0.13.2
flake8-noqa~=1.2.9
flake8~=5.0.4
ttws~=0.8.3
autopep8~=2.0.0
